
i2c_tools/build/
i2c_tools/.vscode

touch_test/build/
touch_test/.vscode

mipi_dsi_lvgl8/build/
mipi_dsi_lvgl8/managed_components
mipi_dsi_lvgl8/.vscode/

mipi_dsi_lvgl9/managed_components
mipi_dsi_lvgl9/.vscode/
examples/
